// colores
$bg_lightgreen: lightseagreen;
$bg_imgcatalogo: rgb(233, 236, 239);
$bg_button: gainsboro;
$border_button: gray;

$font-general:'Roboto Slab', serif;
$font-title:'Ubuntu Condensed', sans-serif; 